*{
    margin: 0;
    padding: 0;
}
.nav{
    height:64px;
    width: 100%;
    border: 1px solid black;
}
.logo{
    width: 125px;
    height: 30px;
    position: absolute;
    top:20px;
    left:20px;
}
.nav-daohang{
    height: 60px;
    width: 560px;
    position: absolute;
    left:200px;
    list-style: none;
}
.nav-daohang li{
    height: 60px;
    width: 80px;
    line-height: 60px;
    font-family: "Roboto",sans-serif;
    display: inline-block;
}
.nav-search{
    height: 40px;
    width:200px;
    position: relative;
    left:1580px;
    top:10px;
    border: 1px solid gray;
    border-radius:2px ;
}
.search-img{
    height: 25px;
    width: 25px;
    position: absolute;
    top:10px;
    left: 10px;
}
.search-input{
    border: none;

}
.nav-btn{
    height: 40px;
    width: 100px;
    position: absolute;
    top:10px;
    right: 10px;
    border: 1px solid gray;
}
.content{
    width:100%;
    height:2450px;
}
.floor1 .f1{
    width:1008px;
    height:722px;
    margin-left:auto;
    margin-right:auto;
}
.floor2 .f2{
    width:1024px;
    height:1010px;
    margin-left:auto;
    margin-right:auto;

}
.floor3 .f3{
    width:1024px;
    height:717px;
    margin-left:auto;
    margin-right:auto;
}
.text1{
    margin-top:50px;
    font-weight: 400;
    font:32px / 1.22222 "Google Sans",sans-serif;
    margin-bottom:32px;
    position:relative;
    left:10px;

}
.text2{
    font:400 18px / 1.77778 "Roboto",sans-serif;
    margin-bottom:36px;
}
.text3{
    font:400 36px / 1.22222 "Google Sans",sans-serif;
    margin-top:64px;
    margin-bottom:36px;
}
.text4{
    font:400 18px / 1.77778 "Roboto",sans-serif;
    margin-bottom:32px;
    margin-top:32px;
}
.text5{
    font-weight: 500;
    text-align: center;
    font: 36px / 1.22222 "Google Sans",sans-serif;
    margin-top: 64px;
    margin-bottom: 32px;
}
.f1-img{
    width:380px;
    height:301px;
    position:relative;
    top:-400px;
    left:600px;
}
.f2-box{
    width:1010px;
    height:100px;
}
.f2-box li{
    display:inline-block;
    font:400 18px / 1.77778 "Roboto",sans-serif;
}
.f2-video{
    background-image: url(https://i.ytimg.com/vi/3bKMnYJzrqI/sddefault.jpg);
    width:460px;
    height:259px;
    position:relative;
    top:-300px;
    left:500px;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.f3-left{
    width:410px;
    height:398px;
    padding:24px;
    border: 1px solid #dadce0;
    border-radius: 3px;
    margin: 24px;
    float:left;
}
.f3-title{
    font: 500 20px / 1.2 "Google Sans",sans-serif;
    margin-bottom: 16px;
}
.f3-describe{
    font: 400 18px / 1.77778 "Roboto",sans-serif;
}
.f3-box{
    width:389px;
    height:398px;
    margin-left:20px;
    font:400 18px / 1.5 "Roboto",sans-serif;
}
.f3-box li{
    padding-left:20px;
    padding-top:15px;

}
.f3-btn1{
    color:blue;
    font:500 0.875rem/2.25rem "Roboto",sans-serif;
    height:56px;
    position:relative;
    top:-150px;
    left:150px;
}
.f3-btn2{
    color:blue;
    font:500 0.875rem/2.25rem "Roboto",sans-serif;
    height:56px;
    position:relative;
    top:-150px;
    left:150px;
}
.f3-right{
    width:410px;
    height:398px;
    padding:24px;
    border: 1px solid #dadce0;
    border-radius: 3px;
    margin: 24px;
    float:right;
}
.floor4{
    width:100%;
    height:600px;
}
.floor4-1{
    margin-top:20px;
    margin-left:30px;
    width:100%;
    height:300px;
}
.floor4-2{
    width:100%;
    height:280px;
}

.f4-1-1 {
    width:300px;
    height:200px;
    float:left;
}
.f4-1-2{
    width:300px;
    height:300px;
    margin-left:300px;
    float:left;
}
.f4-1-3 {
    width:300px;
    height:300px;
    margin-left:300px;
    float:left;
}
.f4-title{
    font:500 14px/16px "Roboto",sans-serif;
    color: black;
    margin-bottom:10px;
}
.f4-compile{
    list-style:none;
}
.f4-compile li{
    color: #635f5f;
    font:400 14px/16px "Roboto",sans-serif;
    margin-top:30px;
}
.f4-compile a:hover{
    color:blue;
}
.f4-2-img{
    width:185px;
    height:32.7px;
    margin-top:30px;
    margin-left:20px;
}
.f4-2-nav{
    font:400 14px/16px "Roboto",sans-serif;
    list-style:none;
    position:relative;
    left:220px;
    top:-30px;
}
.f4-2-nav li{
    display:inline-block;
    margin-left:20px;
}
.f4-2-nav a:hover{
    color:blue;
}
.line{
    margin-bottom:30px;
}
.f4-text1{
    margin-left:20px;
    font:400 14px/16px "Roboto",sans-serif;
}
.f4-text1 a:hover{
    color:blue;
}
.f4-text2{
    font:400 14px / 1.77778 "Roboto",sans-serif;
    margin:30px auto 30px 20px;
}
.addTextColor{
    font:400 14px / 1.77778 "Roboto",sans-serif;
    color: blue;
}