*{
    margin: 0;
    padding: 0;
}
.nav{
    height:64px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);

}
.logo{
    width: 125px;
    height: 30px;
    position: absolute;
    top:20px;
    left:20px;
}
.nav-daohang{
    height: 64px;
    width: 560px;
    position: absolute;
    left:200px;
    list-style: none;
}
.nav-daohang li{
    height: 64px;
    width: 80px;
    line-height: 60px;
    text-align: center;
    font-family: "Roboto",sans-serif;
    display: inline-block;
}
a{
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.nav-daohang li:hover{
    background-color: darkgray;
}
.nav-click{
    box-shadow: 0 -2px 0 #3740ff inset;
}
.nav-search{
    height: 40px;
    width:200px;
    position: relative;
    left:1180px;
    top:10px;
    border: 1px solid gray;
    border-radius:2px ;
}
.search-img{
    height: 25px;
    width: 25px;
    position: absolute;
    top:10px;
    left: 10px;
}
.search-input{
    border: none;

}
.nav-btn{
    height:64px;
    width: 100px;
    position: absolute;
    top:-1px;
    right: 10px;
    border: none;
    background-color:white;
}
.nav-btn:hover{
    background-color: darkgray;
}
.header{
    width: 896px;
    height: 200px;
    padding: 48px 32px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.header h1{
    font: 500 56px / 1.32143 "Google Sans",sans-serif;
    text-align: center;
    margin-bottom: 20px;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
    box-sizing: border-box;
    letter-spacing: -.5px;
    overflow: visible;
}
.header p{
    font: 300 16px / 1.5 "Roboto",sans-serif;
    text-align: center;
}
.content{
    width:100%;
    height:1450px;
}
.content-f1{
    width:100%;
    height:290px;
    background-color:#eaeaea;
}
.content1{
    width:960px;
    height:100px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    background-color:#eaeaea;
}
.content2{
    width:960px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    background-color:#eaeaea;
}
.ctn-input{
    border:1px solid #dadce0;
    font: 16px/20px Roboto,sans-serif;
    color:black;
    width:550px;
    height:35px;
    margin-top:30px;
    padding:8px 16px;
    float:left;
    position:relative;
    left:50px;
    outline: none;
}
.ctn-input:focus{
    box-shadow: inset 0 -2px 0 0 #3740ff;
}

.ctn-btn1{
    width:124px;
    height:52px;
    font: 500 0.875rem/2.25rem "Roboto",sans-serif;
    border:1px solid #dadce0;
    border-radius: 5px;
    margin-left:20px;
    position:relative;
    outline: none;
    left:60px;
    top:30px;
}
.ctn-btn2{
    width:124px;
    height:52px;
    outline: none;
    margin-left:20px;
    border-radius: 5px;
    position:relative;
    left:60px;
    top:30px;
    background-color:blue;
}
.btn:hover{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    text-decoration: none;
}
.content-div{
    width:220px;
    height:80px;
    line-height:80px;
    float:left;
    border:1px solid #d0cece;
    background-color:white;
    position:relative;
    left:50px;

}
.content-div span{
    padding-left:20px;
    font:500 18px / 1.5 "Roboto",sans-serif;
    color:gray;
}
.content-div div {
    width: 40px;
    height: 40px;
    border: 3px solid #efc6c6;
    border-radius: 50%;
    vertical-align:middle;
    font: 500 16px / 1.5 "Roboto", sans-serif;
    color: #efc6c6;
    position: relative;
    left: 170px;
    top: -65px;
    text-align: center;
    line-height: 40px;
}
.content-data div{
    float: left;
    color:gray;
    margin-left:5px;
}
.content-data{
    width:500px;
    height:50px;
    position:relative;
    left:908px;
    font: 400 16px / 1.5 "Roboto",sans-serif;
}
.colorRed{
    width:12px;
    height:7px;
    float: left;
    border-radius:40%;
    margin-left:50px;
    position:relative;
    top:8px;
    background-color: red;
}
.colorOrange{
    width:12px;
    height:7px;
    float: left;
    border-radius:40%;
    margin-left:50px;
    position:relative;
    top:8px;
    background-color: orange;
}
.colorGreen{
    width:12px;
    height:7px;
    float: left;
    border-radius:40%;
    margin-left:50px;
    position:relative;
    top:8px;
    background-color: green;
}
.contentFloorTwo{
    width:960px;
    height:194px;
    padding:32px;
    margin-left:auto;
    margin-right:auto;
}
.contentWidth{
    margin-right:8px;
}
.ctn-f2-box{
    width:270px;
    height:194px;
    float:left;
    margin-right:50px;
}
.ctn-f2-box h3{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:1px solid #9a9494;
    border-radius:50%;
    margin-top: 48px;
    margin-bottom: 16px;
}
.ctn-f2-box h4{
    font: 500 20px / 1.2 "Google Sans",sans-serif;
    padding:20px 0;
}
.ctn-f2-box p{

}
.contentTitle{
    text-align: center;
    font: 36px / 1.22222 "Google Sans",sans-serif;
    margin-top: 64px;
    margin-bottom: 32px;
}
.contentDescribe{
    text-align: center;
    margin-bottom: 32px;
    font: 400 16px / 1.5 "Roboto",sans-serif;
}
.contentFloorThree{
    width:1000px;
    height:520px;
    margin-left:auto;
    margin-right:auto;
}
.ctn-f3-box{
    width:300px;
    height:200px;
    margin:0px 56px 56px 120px;
    float:left;
}
.ctn-boxImg{
    width:60px;
    height:60px;
    position:relative;
    left:120px;
    top:20px;
    margin-bottom:20px;
}
.ctn-f3-box h3{
    text-align: center;
    font: 500 20px / 1.2 "Google Sans",sans-serif;
    margin-top:0px;
    margin-bottom:20px;
}
.ctn-f3-box p{
    margin-bottom:20px;
    font: 400 16px / 1.5 "Roboto",sans-serif;
}
.explain{
    font: 400 17px / 1.5 "Roboto",sans-serif;
    text-align:center;
}
.footder{
    width:100%;
    height:600px;
}
.footder4-1{
    margin-top:20px;
    margin-left:30px;
    width:100%;
    height:300px;
}
.footder4-2{
    width:100%;
    height:280px;
}

.f4-1-1 {
    width:300px;
    height:200px;
    float:left;
}
.f4-1-2{
    width:300px;
    height:300px;
    margin-left:300px;
    float:left;
}
.f4-1-3 {
    width:300px;
    height:300px;
    margin-left:300px;
    float:left;
}
.f4-title{
    font:500 14px/16px "Roboto",sans-serif;
    color: black;
    margin-bottom:10px;
}
.f4-compile{
    list-style:none;
}
.f4-compile li{
    color: #635f5f;
    font:400 14px/16px "Roboto",sans-serif;
    margin-top:30px;
}
.f4-compile a:hover{
    color:blue;
}
.f4-2-img{
    width:185px;
    height:32.7px;
    margin-top:30px;
    margin-left:20px;
}
.f4-2-nav{
    font:400 14px/16px "Roboto",sans-serif;
    list-style:none;
    position:relative;
    left:220px;
    top:-30px;
}
.f4-2-nav li{
    display:inline-block;
    margin-left:20px;
}
.f4-2-nav a:hover{
    color:blue;
}
.line{
    margin-bottom:30px;
}
.f4-text1{
    margin-left:20px;
    font:400 14px/16px "Roboto",sans-serif;
}
.f4-text1 a:hover{
    color:blue;
}
.f4-text2{
    font:400 14px / 1.77778 "Roboto",sans-serif;
    margin:30px auto 30px 20px;
}
.addTextColor{
    font:400 14px / 1.77778 "Roboto",sans-serif;
    color: blue;
}